body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image {
  height: auto;
  width: 90vw;
  margin: 10px;
  object-fit: cover;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  margin: 10px;
  border-radius: 5px;
  background-color:lightblue
}

.footer-text {
  margin: 70px;
}

.footer-text ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  font-style: italic;
}

.footer-text li {
  margin-right: 20px;
}